$breakpoints: (
    xsmall: 25.87em,
    small: 48em,
    large: 80em, 
    xlarge: 120em
);

$color-primary :#c0dfd9; 
$color-primary-light: #e9ece5; 
$color-primary-dark: #b3c2bf; 

$color-black: #3b3a36; 
$color-white: #ffffff; 


$gutter-horizontal: 6rem; 
$gutter-vertical: 8rem;

$col-width: (100% ) / 10;