*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 48em) {
    html {
      font-size: 71.4%; } }

@font-face {
  font-family: "Fredericka";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Libre";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Libre_Barcode_128/LibreBarcode128-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Lobster_Two/LobsterTwo-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Lobster";
  font-style: italic;
  font-weight: 500;
  src: url("/assets/fonts/Lobster_Two/Lobster_Two-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/Lobster_Two/Lobster_Two-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Lobster";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/Lobster_Two/Lobster_Two-BoldItalic.ttf") format("truetype"); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.header__navigation-item {
  list-style: none;
  border: 1px solid #c0dfd9;
  display: inline-block; }

.footer__navigation-item {
  list-style: none;
  border: 1px solid #c0dfd9; }

.home {
  display: flex;
  flex-direction: column; }
